/* Universal Selector */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* Element/Type Selector */
h1 {
  text-align: center;
}
h3 {
  margin: 0 2rem;
  margin-top: 1rem;
}
/* h4 {
  color: blue;
  border: 2px solid black;
  text-transform: capitalize;
  padding: 0.3rem;
} */
p,
span {
  text-transform: capitalize;
  /* margin-left: 1rem; */
}

/* Class Selector */
.title {
  margin: 0 1rem;
  margin-top: 1rem;
  color: seagreen;
  border: none;
}

.list {
  list-style-type: disc;
  margin: 0 2rem;
  color: purple;
}

/* ID Selector */
#main-title {
  margin: 0 1rem;
  margin-top: 1rem;
  border: none;
  color: crimson;
}

#main-list {
  margin: 0 2rem;
  list-style-type: disc;
  color: maroon;
}
.title.sub {
  font-size: 1.5rem;
}

p,
span {
  /* font-size: 1rem; */
  /* margin: 1rem 2rem;
  padding: 0.5rem; */
}

/* Color - Hex Value */
.red-text {
  color: rgba(255, 0, 0, 0.5);
}

.hex-text {
  color: #00bca2;
}

.bg-pink {
  background-color: rgba(255, 200, 220, 1);
}

.bg-orange {
  background-color: #ffa500;
}

.font-styles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.italic {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
  font-size: 50px;
}

.center-text {
  text-align: center;
  font-size: 28px;
  line-height: 4;
  letter-spacing: 6px;
  word-spacing: 20px;
}

.right-text {
  text-align: right;
  font-size: 28px;
}

/* Styling Lists */
ul {
  list-style-type: square;
}

.circle-list {
  list-style-type: circle;
}

.box-model {
  border: 1px solid red;
  height: 50px;
  width: 300px;
  padding: 20px;
  margin: 20px;
}

/* Cascade  */

h2 {
  color: red;
}

h2 {
  color: blue;
}

/* Specificity */
#title-heading {
  color: #ffa500;
}
.sub-heading {
  color: purple;
}

h4 {
  color: red;
}

h4 {
  color: cornflowerblue !important;
}

/* Inheritance */
.inheritance {
  color: orange;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

/* Styling Tables */
th,
td {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin-top: 1rem;
}

td {
  text-align: center;
  /* height: 50px;
  vertical-align: bottom; */
}

/* Display */

.content-1 {
  border: 1px solid red;
  margin: 1rem;
  display: inline;
}
.content-2 {
  border: 1px solid blue;
  margin: 1rem;
  display: block;
}

/* Position */

.pos-rel-1 {
  border: 1px solid red;
  position: relative;
  top: 50px;
  left: 50px;
  width: 500px;
}

.pos-rel-2 {
  border: 1px solid blue;
  position: relative;
  top: 70px;
  right: 20px;
  width: 500px;
}

.pos-fix-1 {
  border: 1px solid green;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.pos-abs-1 {
  border: 2px solid purple;
  position: absolute;
  bottom: 30px;
  right: 25px;
  color: goldenrod;
}

.container {
  border: 1px solid black;
  width: 500px;
  height: 300px;
  position: relative;
}

.pos-abs-2 {
  border: 1px solid purple;
  position: absolute;
  bottom: 30px;
  right: 25px;
}

.pos-stk-1 {
  border: 2px solid darkmagenta;
  position: sticky;
  top: 30px;
  left: 20px;
}
