body {
  margin: 0;
}

.container {
  border: 6px solid black;
  margin-bottom: 2rem;
  display: grid;
  /* height: 400px; */
  /* grid-template-columns: 100px 200px 300px;
  grid-template-rows: 100px; */
  /* grid-template: 100px / 100px 200px 300px; */
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  /* row-gap: 20px;
  column-gap: 30px; */
  /* justify-items: stretch;
  align-items: stretch; */
  /* place-items: stretch stretch; */
  /* justify-content: start;
  align-content: start; */
  /* place-content: start start; */
  /* grid-auto-flow: column;
  grid-auto-columns: 100px;
  grid-auto-rows: 200px; */
}

.container-1 {
  border: 6px solid black;
  margin-bottom: 2rem;
  display: grid;
  /* height: 400px; */
  /* grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 150px 200px; */
  /* grid-template: 100px 150px 200px / 200px 200px 200px; */
  /* grid-template: repeat(3, 100px) / repeat(3, 100px); */
  /* gap: 30px 20px; */
  /* justify-items: start;
  align-items: start; */
  /* place-items: start start; */
  /* justify-content: end;
  align-content: end; */
  /* place-content: end end; */
  grid-auto-flow: column;
  grid-auto-rows: 150px;
}

.container-2 {
  border: 6px solid black;
  margin-bottom: 2rem;
  display: grid;
  height: 400px;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px); */
  /* grid-template: repeat(3, 100px) / repeat(3, 1fr); */
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  /* gap: 2rem 5rem; */
  /* justify-items: end;
  align-items: end; */
  /* place-items: end end; */
  /* justify-content: center;
  align-content: center; */
  place-content: center center;
}

.container-3 {
  border: 6px solid black;
  margin-bottom: 2rem;
  display: grid;
  height: 400px;
  /* grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 100px) 200px; */
  /* grid-template: repeat(3, 100px) 200px/ 1fr 2fr 1fr; */
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  /* gap: 4% 2%; */
  /* justify-items: center;
  align-items: center; */
  /* place-items: center center; */
  /* justify-content: space-between;
  align-content: space-between; */
  place-content: space-between space-between;
}

.container-4 {
  border: 6px solid black;
  margin-bottom: 2rem;
  display: grid;
  height: 400px;
  /* grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr); */
  /* grid-template: repeat(3, 1fr) / repeat(3, minmax(200px, 1fr)); */
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  /* gap: 10% 5%; */
  /* justify-items: center;
  align-items: center; */
  /* place-items: center; */
  /* justify-content: space-around;
  align-content: space-around; */
  place-content: space-around space-around;
}

.container-5 {
  border: 6px solid black;
  margin-bottom: 2rem;
  display: grid;
  height: 400px;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  /* justify-content: space-evenly;
  align-content: space-evenly; */
  place-content: space-evenly space-evenly;
}

.grid-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.item-1,
.item-1a,
.item-1b,
.item-1c {
  background-color: #b4bf35;
}
.item-2 {
  background-color: #b95f21;
}
.item-3 {
  background-color: #1c4c56;
}
.item-4 {
  background-color: #cfb276;
}
.item-5 {
  background-color: #6b0803;
}
.item-6 {
  background-color: #cfb276;
}
.item-7 {
  background-color: #b95f21;
}
.item-8 {
  background-color: #01243a;
}
.item-9 {
  background-color: #aad041;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.item-1a {
  grid-column-start: 1;
  grid-column-end: 4;
}

.item-1b {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item-1c {
  grid-column-start: 1;
  grid-column-end: span 2;
}
