body {
  margin: 0;
}

.container-1 {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  /* 
  flex-wrap: wrap; */
  /* flex-flow: row wrap; */
  /* column-gap: 20px;
  row-gap: 10px; */
  /* gap: 20px 10px; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  align-content: stretch;
}

.container-2 {
  border: 6px solid black;
  display: inline-flex;
  margin-bottom: 1rem;
  /* flex-direction: row-reverse;
  flex-wrap: wrap-reverse; */
  flex-flow: row-reverse wrap-reverse;
}

.container-3 {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  height: 400px;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap;
}

.container-4 {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  height: 400px;
  /* flex-direction: column-reverse;
  flex-wrap: wrap-reverse; */
  flex-flow: column-reverse wrap-reverse;
}

.container-5 {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  flex-flow: row wrap;
  /* gap: 20px 10px; */
  height: 500px;
  /* align-items: flex-start; */
  align-content: flex-start;
}

.container-6 {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  flex-flow: row wrap;
  /* gap: 20px 10px; */
  height: 500px;
  /* align-items: flex-end; */
  align-content: flex-end;
}

.container-7 {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  flex-flow: row wrap;
  /* gap: 20px 10px; */
  height: 500px;
  /* align-items: center; */
  align-content: center;
}

.container-8 {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  flex-flow: row wrap;
  /* gap: 20px 10px; */
  height: 400px;
  /* justify-content: space-around; */
  align-content: space-between;
}

.container-9 {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  flex-flow: row wrap;
  /* gap: 20px 10px; */
  height: 500px;
  /* justify-content: space-evenly; */
  align-content: space-around;
}

.container-10 {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  flex-flow: row wrap;
  height: 500px;
  align-content: space-evenly;
}

.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: #b4bf35;
}
.item-2 {
  background-color: #b95f21;
}
.item-3 {
  background-color: #1c4c56;
}
.item-4 {
  background-color: #cfb276;
}
.item-5 {
  background-color: #6b0803;
}
.item-6 {
  background-color: #1c4c56;
}
.item-7 {
  background-color: #b95f21;
}
.item-8 {
  background-color: #01243a;
}
.item-9 {
  background-color: #aad041;
}

.item-a {
  background-color: #b4bf35;
  padding-bottom: 3rem;
}

.item-b {
  background-color: #b95f21;
  padding-bottom: 5rem;
}

.item-c {
  background-color: #1c4c56;
  padding-bottom: 3rem;
}
.item-d {
  background-color: #cfb276;
}
.item-e {
  background-color: #6b0803;
}

.container-a {
  border: 6px solid black;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  align-items: baseline;
  gap: 10px 10px;
}
